.main{
	border: 2px solid black;
	padding: 2%;
	margin:5%;
	display: flex;
	flex-direction:column;
}
a{
	word-wrap: break-word;
}
.child1{
	border: 2px solid red;
	padding: 2%;
	margin: 1%;
	font-size: 25px;
	width: 65%;
}
.child2{
	border: 2px solid red;
	padding: 2%;
	margin: 1%;
	font-size: 25px;
	width: 65%;
}
img{
	width: 60%;
	border:1px solid red;
	border-radius:10%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
@media only screen and (min-width:320px) and (max-width:480px){
	.main{
	border: 2px solid black;
	padding: 2%;
	margin:2%;
	display: flex;
	flex-direction:column;
}
.tabledata{
	overflow: auto;
}
a{
	word-wrap: break-word;
}
.child1{
	border: 2px solid red;
	padding: 2%;
	margin: 1%;
	font-size: 25px;
	width: 96%;
	background color: skyblue;
}
.child2{
	border: 2px solid red;
	padding: 2%;
	margin: 1%;
	font-size: 25px;
	width: 96%
	background color: skyblue;
}
img{
	width: 60%;
	border:1px solid red;
	border-radius:10%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
}
@media only screen and (min-width:481px) and (max-width:720px){
	.main{
	border: 2px solid black;
	padding: 2%;
	margin:2%;
	display: flex;
	flex-direction:column;
}
a{
	word-wrap: break-word;
}
.child1{
	border: 2px solid red;
	padding: 2%;
	margin: 1%;
	font-size: 25px;
	width: 96%;
	background color: lightgreen;
}
.child2{
	border: 2px solid red;
	padding: 2%;
	margin: 1%;
	font-size: 25px;
	width: 96%
	background color: lightgreen;
}
img{
	width: 60%;
	border:1px solid red;
	border-radius:10%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
}